@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-gray-50;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  input {
    @apply border-b bg-transparent border-gray-600 px-3 py-2 outline-none w-full text-xs;
  }

  input:focus {
    @apply border-b border-gray-200;
  }

  form {
    @apply w-full max-w-2xl;
  }

  label {
    @apply py-2;
  }

  button {
    @apply p-2 bg-gray-50 text-gray-950 rounded-md font-bold text-lg opacity-90 transition
    duration-200
    transform
    hover:-translate-y-1
    hover:scale-105;
  }

  button:hover {
    @apply opacity-100;
  }
}
